{% extends "layout.html" %}

{% block title %}
    Kabbalah
{% endblock %}

{% block main %}
    <section class='manual'>
        <h2>What is Kabbalistic Numerology?</h2>
        <p>Kabbalistic Numerology is the knowledge of numbers for application in our lives in a practical way.</p>
        <p>The origin of Kabbalistic Numerology comes from the Egyptian peoples. They are believed to have inherited this knowledge of the Atlantean Civilization whose people, according to occult traditions, lived next to the Gods.</p>
        <br>
        <h2>What is Kabbalah?</h2>
        <p>Kabbalah is a Hebrew word that fundamentally refers to the esoteric knowledge of the Hebrews. In more literal terms, kabbalah means "to receive" or "tradition".</p>
        <p>The term was also absorbed by Roman culture, spreading through several different traditions, and although it is used in many specific denominations, kabbalah is not a religious system in itself, but a foundation of religious and mystical interpretations.</p>
        <a href="/calculate"><button class="btn btn-primary" type="submit">Calculate</button></a>
    </section>
{% endblock %}
